* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

html {
  font-size: 13px;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}

h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

input {
  width: 250px;
  border: none;
  border-radius: 1000px;
  padding: 5px 15px !important;
  outline: none;
  margin-bottom: 30px;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65efc9, #6cbdeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  display: flex;
  background: #fff;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 28px;
  z-index: 3;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem) !important;
}

.circle1,
.circle2 {
  background: #fff;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  height: 13rem;
  width: 13rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 3%;
  right: 15%;
}

.circle2 {
  bottom: 3%;
  left: 10%;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: inherit;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  display: flex;
  margin: 15px 0;
  align-items: center;
  padding: 5px 30px;
}

.link h3 {
  padding: 0 2rem;
}

.pro {
  background: linear-gradient(to right top, #65efc9, #6cbdeb);
  padding: 20px;
  border-radius: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.pro h3 {
  color: #fff;
}

.pro img {
  width: 30%;
}

.games {
  flex: 2;
  padding: 30px;
}

.card {
  display: flex;
  margin: 20px 0;
  position: relative;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 28px;
}

.card-info {
  padding: 10px 0;
}

.card img {
  width: 100px;
  margin-right: 20px;
}

.percentage {
  position: absolute;
  bottom: 8px;
  right: 15px;
}

.progress {
  margin-top: 10px;
  width: 60%;
  height: 20px;
  border-radius: 1000px;
  background: #426696;
}
